<div class="flex mb-10 justify-between">
  <h1 class="text-4xl">Configs</h1>
  <%= link_to "New Config", new_config_path, class: "text-white bg-mnd-red hover:bg-mnd-red-dark font-semibold p-3 mb-3" %>
</div>

<% @configs.each do |config| %>
  <div>
    <h2 class="text-xl mb-5"><span class="font-bold"><%= config.name %></span></h2>
    <%= link_to "Edit", edit_config_path(config), class: "text-white bg-mnd-red hover:bg-mnd-red-dark font-semibold p-3 mb-3" %>
  </div>
<% end %>