<td id="SERVER-<%= server.id %>-STATUS">
  <div class="flex items-center">
    <% if server.last_request_for_configuration_at %>
      <% if server.configured? %>
        <% if server.config %>
          <% in_cluster_border = "border-2 border-green-500" if server.label_and_taint_job_completed_at %>
          <span class="block h-4 w-4 mr-4 rounded-full bg-green-400 <%= in_cluster_border %>"></span>
        <% else %>
          <span
            class="block h-4 w-4 mr-4 rounded-full border-1 bg-green-100"
            title="The last applied configuration was deleted."
          ></span>
        <% end %>
      <% elsif server.last_request_for_configuration_at > 1.minutes.ago %>
        <span class="animate-ping duration-700 block h-4 w-4 mr-4 rounded-full bg-yellow-400 opacity-75"></span>
      <% else %>
        <span
          class="block h-4 w-4 mr-4 rounded-full border-1 bg-gray-100"
          title="Last seen <%= time_ago_in_words server.last_request_for_configuration_at %> ago"
        ></span>
      <% end %>
    <% end %>
  </div>
</td>